<mat-card>
  <h2 id="titulo">{{vacinacard?.nome}}</h2>
<div id="caixa">
  <p><strong>Tecnologia:</strong> {{vacinacard?.tecnologia}}</p>
  <p><strong>Eficácia:</strong> {{vacinacard?.eficacia}}</p>
  <p><strong>Intervalo entre as doses:</strong> {{vacinacard?.intervaloDoses}}</p>
  <p><strong>Temperatura de Armazenamento:</strong> {{vacinacard?.temperatura}}</p>
  <p><strong>Voluntários nos Ensaios Clínicos:</strong> {{vacinacard?.voluntarios}}</p>
  <p>{{vacinacard?.nacionalidade}}</p>
</div>
</mat-card>
