<div id="principal">
  <div>
    <p>O ano de 2020 ficará marcado nos livros de história como o <strong>"Ano da Pandemia do Coronavírus"</strong>.</p>
    <p>Através do acúmulo de conhecimentos científicos foi possível em menos de 1 ano o desenvolvimento de vacinas.</p>
  </div>
  <div>
    <p><strong>Vacinas</strong> segundo a Fiocruz, são substâncias biológicas introduzidas nos corpos das pessoas a fim de protegê-las de doenças. Na prática, elas ativam o sistema imunológico, "ensinando" nosso organismo a reconhecer e combater vírus e bactérias em futuras infecções. </p>
    <p>Você pode encontrar mais informações clicando <a href="https://www.bio.fiocruz.br/index.php/br/noticias/1263-vacinas-as-origens-a-importancia-e-os-novos-debates-sobre-seu-uso?showall=1&limitstart=" target="_blank">aqui.</a></p>
    <br>
  </div>
  <div>
    <p>Aqui você poderá encontrar mais informações sobre as vacinas contra o Coronavírus atualmente aprovadas pela Anvisa. Bata navegar no meu ao lado!</p>
    <br>
    <p>Obrigada pela visita!!!</p>
  </div>
</div>
